---
Language:        Cpp
# BasedOnStyle:  WebKit
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: false
AlignOperands:   false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
BreakBeforeInheritanceComma: true
ColumnLimit:     0
CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat:   false
ExperimentalAutoDetectBinPacking: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
IndentCaseLabels: false
IndentWidth:     4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
CompactNamespaces: true
FixNamespaceComments: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Middle
ReflowComments:  true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never

SortIncludes:    true

IncludeBlocks:   Regroup
IncludeCategories:
  # According to https://itivitinet.itiviti.com/display/DEV/Market+gateway+coding+style#Marketgatewaycodingstyle-Headersincludeorder
  # let's have the following includes groups:
  #   * Internal project headers
  #   * Tbricks libraries
  #   * Third-party
  #   * System includes
  #   * C++ standard library

  # PCH must be first
  - Regex: '^[<"]pch.h[>"]'
    Priority: -1

  # Third-party:
  - Regex: '^[<"]((absl|ace|benchmark|boost|client_lib|dispatch|fmt|gmock|gtest|hash|libxml|lttng|magic_enum|sparsehash|unicode|wiredtiger)/)|(OneTickLib.h)|(archive.h)|(archive_entry.h)|(pugixml.hpp)|(wiredtiger.h)|(wiredtiger_ext.h)[>"]'
    Priority: 100

  # Tbricks libraries
  #
  # Autogenerated by running this command:
  # find src/libraries/ -path '*/headers/*' -type d -prune -printf "%f\n" | \
  #         sort -u | \
  #         xargs -n 1 printf "  - Regex: '^[<\"]%s/'\n    Priority: 2\n"
  - Regex: '^[<"]admin_client/'
    Priority: 2
  - Regex: '^[<"]admin_common/'
    Priority: 2
  - Regex: '^[<"]admin_core/'
    Priority: 2
  - Regex: '^[<"]audit/'
    Priority: 2
  - Regex: '^[<"]blink/'
    Priority: 2
  - Regex: '^[<"]blink_codec/'
    Priority: 2
  - Regex: '^[<"]bonjour/'
    Priority: 2
  - Regex: '^[<"]calendar/'
    Priority: 2
  - Regex: '^[<"]cds/'
    Priority: 2
  - Regex: '^[<"]client/'
    Priority: 2
  - Regex: '^[<"]combination/'
    Priority: 2
  - Regex: '^[<"]config/'
    Priority: 2
  - Regex: '^[<"]connectivity/'
    Priority: 2
  - Regex: '^[<"]csv/'
    Priority: 2
  - Regex: '^[<"]currency/'
    Priority: 2
  - Regex: '^[<"]debug/'
    Priority: 2
  - Regex: '^[<"]disruptor/'
    Priority: 2
  - Regex: '^[<"]dvizhuha_helper/'
    Priority: 2
  - Regex: '^[<"]error/'
    Priority: 2
  - Regex: '^[<"]error_stack/'
    Priority: 2
  - Regex: '^[<"]exchange_adaptor/'
    Priority: 2
  - Regex: '^[<"]fast/'
    Priority: 2
  - Regex: '^[<"]field_mapping/'
    Priority: 2
  - Regex: '^[<"]filter/'
    Priority: 2
  - Regex: '^[<"]fix/'
    Priority: 2
  - Regex: '^[<"]fixed_length_codec/'
    Priority: 2
  - Regex: '^[<"]historical_data/'
    Priority: 2
  - Regex: '^[<"]instrument/'
    Priority: 2
  - Regex: '^[<"]ird/'
    Priority: 2
  - Regex: '^[<"]license/'
    Priority: 2
  - Regex: '^[<"]log/'
    Priority: 2
  - Regex: '^[<"]log_backend/'
    Priority: 2
  - Regex: '^[<"]market_data/'
    Priority: 2
  - Regex: '^[<"]market_data_gcd/'
    Priority: 2
  - Regex: '^[<"]message/'
    Priority: 2
  - Regex: '^[<"]metadata/'
    Priority: 2
  - Regex: '^[<"]metadata_client/'
    Priority: 2
  - Regex: '^[<"]metadata_util/'
    Priority: 2
  - Regex: '^[<"]mgf/'
    Priority: 2
  - Regex: '^[<"]mic/'
    Priority: 2
  - Regex: '^[<"]onetick/'
    Priority: 2
  - Regex: '^[<"]orc/'
    Priority: 2
  - Regex: '^[<"]orc_sd_codec/'
    Priority: 2
  - Regex: '^[<"]orcserver/'
    Priority: 2
  - Regex: '^[<"]orc_shmring/'
    Priority: 2
  - Regex: '^[<"]orcsystem/'
    Priority: 2
  - Regex: '^[<"]pcapture/'
    Priority: 2
  - Regex: '^[<"]plugin_engine/'
    Priority: 2
  - Regex: '^[<"]protocol/'
    Priority: 2
  - Regex: '^[<"]protocol_impl/'
    Priority: 2
  - Regex: '^[<"]purge/'
    Priority: 2
  - Regex: '^[<"]qos/'
    Priority: 2
  - Regex: '^[<"]quotingapi/'
    Priority: 2
  - Regex: '^[<"]rbac/'
    Priority: 2
  - Regex: '^[<"]resource/'
    Priority: 2
  - Regex: '^[<"]sd_adaptor/'
    Priority: 2
  - Regex: '^[<"]server/'
    Priority: 2
  - Regex: '^[<"]service_status/'
    Priority: 2
  - Regex: '^[<"]std/'
    Priority: 2
  - Regex: '^[<"]stlport4-alloc/'
    Priority: 2
  - Regex: '^[<"]storage/'
    Priority: 2
  - Regex: '^[<"]strategy/'
    Priority: 2
  - Regex: '^[<"]strategy_private/'
    Priority: 2
  - Regex: '^[<"]subscription/'
    Priority: 2
  - Regex: '^[<"]test/'
    Priority: 2
  - Regex: '^[<"]test_engine/'
    Priority: 2
  - Regex: '^[<"]timezone/'
    Priority: 2
  - Regex: '^[<"]trade_persistence/'
    Priority: 2
  - Regex: '^[<"]trade_persistence_client/'
    Priority: 2
  - Regex: '^[<"]trading/'
    Priority: 2
  - Regex: '^[<"]trading_reference_data/'
    Priority: 2
  - Regex: '^[<"]transport/'
    Priority: 2
  - Regex: '^[<"]transport_fix/'
    Priority: 2
  - Regex: '^[<"]transport_mcast/'
    Priority: 2
  - Regex: '^[<"]transport_utp/'
    Priority: 2
  - Regex: '^[<"]types/'
    Priority: 2
  - Regex: '^[<"]user/'
    Priority: 2
  - Regex: '^[<"]ustring/'
    Priority: 2
  - Regex: '^[<"]util/'
    Priority: 2
  - Regex: '^[<"]venue/'
    Priority: 2
  - Regex: '^[<"]visualization/'
    Priority: 2
  - Regex: '^[<"]xmlx/'
    Priority: 2
  - Regex: '^[<"]zeroconf_extender/'
    Priority: 2

  # Catch-all rule for system and STL headers: put them last
  - Regex: '^<'
    Priority: 1000000

  # Catch-all rule for internal project headers: put them first
  - Regex: '^"'
    Priority: 1

...

